<!DOCTYPE html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' , href='/stylesheets/style.css'>
</head>

<body>
    <h1>
        <%= title%>
    </h1>
    <p>Welecom to
        <%= title %>
    </p>
    <form action="/login">
        <button class="btn" type="submit">Admin</button>
    </form>
</body>